// Break Points
$breaklaptop: 1200px
$breaktablet: 1023px
$breaklargephone: 768px
$breakmediumphone: 414px
$breakiphone6: 375px
$breaksmallphone: 360px
$breakiphone5: 320px

// Hero Section

.hero
  @media screen and (max-width: $breaklaptop)
    margin-top: 10em
